modules = ["nodejs-20", "bash", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"
packages = ["jq", "postgresql"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist/public"
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
integrations = ["javascript_database:1.0.0"]
expertMode = true

[userenv]

[userenv.shared]
TRUST_PROXY = "1"
VAPID_PUBLIC_KEY = "BKrrzx8wDi84jKxCBe-AI7zkCZiJ7mEIEgwQVqyCgLdeupUAMFLYunGVyCJ1GbK3gFd7x9vtrP-kOjuL98xhyuI"
VAPID_SUBJECT = "mailto:admin@pcvisor.com"
LICENSE_SERVER_URL = "https://12d7df9a-ee3c-4f6b-afa4-9469ef053a99-00-24zohd8l8uajh.janeway.replit.dev"
